.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 0px 70px;
  margin-bottom: 60px;
  padding-top: 30px;
}
.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerName {
  color: rgb(255, 204, 0);
}
.header-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgb(255, 204, 0);
}
.cart button {
  background: transparent;
  border: none;
  color: rgb(255, 204, 0);
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}
